<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>All Employers</title>
    <link rel="stylesheet" href="/css/styleEmployerFutureEmployement.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/10e7a38072.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="back">
    <nav class="navbar">
        <a href="/companyWorker/homePage/<%=mailCompany%>">
            <img class="logo" src="/css/images/logo.PNG">
        </a>
        <ul>
            <li><a href="/companyWorker/editProfile/<%=mailCompany%>" class="active">My Profile</a> </li>
            <li><a class="active" href="/companyWorker/allEmployer/<%=mailCompany%>">Employers</a> </li>
            <li><a class="active" href="/companyWorker/allCompany/<%=mailCompany%>">Contractor</a> </li>
            <li><a href="#">Statistics</a> </li>
            <li><a href="/contractorWorker/sendMessageDiplay/<%=mailCompany%>">Messages</a> </li>
            <li><a href="#">Log Out</a> </li>
        </ul>
    </nav>
    <div>
        <div class="input-box">
            <lable class="menu">Menu for performing contractor worker operations</lable>
        </div>
    </div>
    <div class="input-box">
        <lable>    </lable>
        <div class="button" >
            <input type="btn" value="Add Employer" onclick="addEmp()"  href="/companyWorker/styleCompanyWorkerMenuEmployers" readonly>
        </div>
    </div>
    <div class="input-box">
        <lable>   </lable>
        <div class="button">
            <input type="btn" value="Delete Employer" onclick="delEmp()" target="_blank"  href="/companyWorker/styleCompanyWorkerMenuEmployers" readonly>
        </div>
    </div>

    <div class=box2>
        <div class="title">All Employers
            <small class="pull-right"><%= employers.length%></small>
        </div>
        <div>
        <div>
        <div>  <label class="l">Sort the number of employees at the employer: </label></div>
            <div>
                <select id="category" class="icon-menu" onchange="sortByWage()">
                    <option value="select" >Select</option>
                    <option value="High to low" >High to low</option>
                    <option value="low to High">low to High</option>

                </select>
        </div>
    </div>
            <table class="table table-striped custab" id="table">
            <%
        if(employers.length!=0 && arrNum.length!=0) {
            var i=0;
        employers.forEach(function(worker){
        %>
        <tr class="line">
            <td><div class="input-box"><span class="input" ><%= worker.email %></span></div></td>
            <td><div class="input-box"><span class="input"><%= worker.companyName %></span></div></td>
            <td class="wage"><%= arrNum[i] %></td>
            <td><div class="input-box"><a class="btn" href="/employer/homePage/<%=worker.email%>">Actions</a></div></td>
        </tr>
        <% i++;}) %>
                <% } else{ %>
                    <h3>No shifts found ..</h3>
                <% } %>
                <!-- <button class="sort" data-sort="status">sort by date</button> -->
            </table>
        </div>
    <br>
    <br>
    <br>
</div>
</body>


<script>
    function sortByWage() {
        var x = document.getElementById("category").selectedIndex;
        //alert(x);
     if(x==1) {
         var list, i, j, line, wage, temp1, temp2;
         list = document.getElementById("table");
         wage = list.getElementsByClassName("wage");
         line = list.getElementsByClassName("line");
         for (j = 0; j < (line.length - 1); j++) {
             for (i = 0; i < (line.length - 1); i++) {
                 temp1 = parseInt(wage[i].innerHTML, 10);
                 temp2 = parseInt(wage[i + 1].innerHTML, 10);
                 if (temp1 < temp2) {
                     line[i].parentNode.insertBefore(line[i + 1], line[i]);//החלפת השורות
                 }
             }
         }
     }
        if(x==2) {
            var list, i, j, line, wage, temp1, temp2;
            list = document.getElementById("table");
            wage = list.getElementsByClassName("wage");
            line = list.getElementsByClassName("line");
            for (j = 0; j < (line.length - 1); j++) {
                for (i = 0; i < (line.length - 1); i++) {
                    temp1 = parseInt(wage[i].innerHTML, 10);
                    temp2 = parseInt(wage[i + 1].innerHTML, 10);
                    if (temp1 > temp2) {
                        line[i].parentNode.insertBefore(line[i + 1], line[i]);//החלפת השורות
                    }
                }
            }
        }
    }
    function addEmp() {
        window.open("/employer/signUp", "_blank");
    }
    function delEmp() {

        const retVal = prompt("Enter the employee email you want to delete : ", "here");
        const firstname1= document.getElementById("firstname1").submit();
        const firstNameValue=firstname1.value.trim();

        console.log("dsds");
        console.log("dsds" +  formId);
        }

    function  employerEditProfile(){
        console.log('employers.length')

        var a=[];
        for(var i=0;i<employers.length;i++)
        {
            a[i]=employers.email
        }
        window.open("/employer/editProfile/${worker.email}", "_blank");

    }
</script>
</html>