<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile Of | CompanyWorker</title>
    <link rel="stylesheet" type="text/css" href="/css/styleEmployerEditProfile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/10e7a38072.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="back">
    <nav class="navbar">
        <a href="/companyWorker/homePage/<%=companyWorker.mail%>">
            <img class="logo" src="/css/images/logo.PNG">
        </a>
        <ul>
            <li><a href="/companyWorker/editProfile/<%=companyWorker.mail%>"><i class="fa fa-fw fa-home"></i>My Profile</a> </li>
            <li><a href="/companyWorker/allEmployer/<%=companyWorker.mail%>"><i class="fa fa-fw fa-search"></i>Employers</a> </li>
            <li><a href="/companyWorker/allCompany/<%=companyWorker.mail%>"><i class="fa fa-fw fa-search"></i>Contractor Workers</a> </li>
            <li><a href="/companyWorker/info/<%=companyWorker.mail%>"><i class="fa fa-fw fa-pie-chart"></i>Statistics</a> </li>
            <li><a href="/contractorWorker/sendMessageDiplay/<%=companyWorker.mail%>"><i class="fa fa-fw fa-envelope"></i>Messages</a> </li>
            <li><a href="/"><i class="fa fa-fw fa-sign-out"></i>Log Out</a> </li>
        </ul>
    </nav>
    <div class="container">
        <div class="title">Edit Your Profile</div>
        <form class="model-content animate" id="form" action='/companyWorker/editProfile/<%=companyWorker.mail%>'  method="POST" >
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Email Address</span>
                    <p><%=companyWorker.mail%></p>
                    <input type="hidden" class="input" id="mail" name="mail"  value=<%=companyWorker.mail%> readonly >
                </div>
                <div class="input-box" data-error="Error message">
                    <span class="details">First Name</span>
                    <input type="text" class="input" id="firstName" name="firstName"   value=<%=companyWorker.firstName%>>
                </div>
                <div class="input-box" data-error="Error message" >
                    <span class="details">Last Name</span>
                    <input type="text" class="input" id="lastName" name="lastName" value=<%=companyWorker.lastName%>>
                </div>

                <div class="input-box" data-error="Error message">
                    <span class="details">Phone</span>
                    <input type="number" class="input" id="phone" name="phone" minlength="10" maxlength="10" value=<%=companyWorker.phone%>>
                </div>
            </div>
            <div class="button">
                <input  value="Save" onclick="checkInputs()"  readonly>
            </div>
        </form>
        <form class="model-content animate"  action='/companyWorker/resetPassword/<%=companyWorker.mail%>'  method="GET" >
            <div class="user-details">
                <div class="button1">
                    <input value="Reset Password" type="submit" readonly>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    const form=document.getElementById("form");
    const firstName=document.getElementById("firstName");
    const lastName=document.getElementById("lastName");
    const phone=document.getElementById("phone");

    document.querySelectorAll('.input-box[data-error] .input').forEach(inpEl=>{
        inpEl.addEventListener('input',()=>inpEl.parentElement.removeAttribute('data-error'));
    });
    firstName.parentElement.removeAttribute('data-error');
    lastName.parentElement.removeAttribute('data-error');
    phone.parentElement.removeAttribute('data-error');
    function checkInputs(){
        const firstNameValue=firstName.value.trim();
        const lastNameValue=lastName.value.trim();
        const phoneValue=phone.value.trim();

        var flag=0;
        if(firstNameValue==""){
            firstName.parentElement.setAttribute('data-error','First name can not be empty');
            flag=1;
        }
        if(firstNameValue.length<3 ){
            firstName.parentElement.setAttribute('data-error','First name must contain less 3 character');
            flag=1;
        }
        if(firstNameValue.length>50 ){
            firstName.parentElement.setAttribute('data-error','First name must contain no more  50 character');
            flag=1;
        }
        if(!/^[a-zA-Z]+$/.test(firstNameValue)){
            firstName.parentElement.setAttribute('data-error','First name must contain only character');
            flag=1;
        }
        if(lastNameValue==""){
            lastName.parentElement.setAttribute('data-error','Last name can not be empty');
            flag=1;
        }
        if(!/^[a-zA-Z]+$/.test(lastNameValue)){
            lastName.parentElement.setAttribute('data-error','Last name must contain only character');
            flag=1;
        }
        if(lastNameValue.length<3){
            lastName.parentElement.setAttribute('data-error','Last name must contain less 3 character');
            flag=1;
        }
        if(lastNameValue.length>50){
            lastName.parentElement.setAttribute('data-error','Last name must contain no more  50 character');
            flag=1;
        }
        if(phoneValue.length!=10){
            phone.parentElement.setAttribute('data-error','Phone must contain 10 digits');
            flag=1;
        }
        if(flag==0){
            document.getElementById("form").submit();
        }

    }

</script>
</html>