<html lang="en">

<div class="wrapper">

    <nav class="navbar">
    <a herf="/companyWorker/homePage/<%=mail%>" target = "_self"><img class="logo" src="/css/images/logo.PNG"></a>
    <ul>
        <li><a href="/companyWorker/editProfile/<%=mail%>" class="active">My Profile</a> </li>
        <li><a href="/companyWorker/allEmployer/<%=mail%>">Employers</a> </li>
        <li><a href="/companyWorker/allCompany/<%=mail%>">Contractor Workers</a> </li>
        <li><a href="/companyWorker/info/<%=mail%>">Statistics</a> </li>
        <li><a href="/contractorWorker/sendMessageDiplay/<%=mail%>">Messages</a> </li>
        <li><a href="/">Log Out</a> </li>
    </ul>
</nav>
    </div>

</html>