<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>All ContractorWorker</title>
    <link rel="stylesheet" href="/css/styleEmployerFutureEmployement.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/10e7a38072.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="back">
    <nav class="navbar">
        <a href="/companyWorker/homePage/<%=mailCompany%>">
            <img class="logo" src="/css/images/logo.PNG">
        </a>
        <ul>
            <li><a href="/companyWorker/editProfile/<%=mailCompany%>" class="active">My Profile</a> </li>
            <li><a class="active" href="/companyWorker/allEmployer/<%=mailCompany%>">Employers</a> </li>
            <li><a class="active" href="/companyWorker/allCompany/<%=mailCompany%>">ContractorWorker</a> </li>
            <li><a href="#">Statistics</a> </li>
            <li><a href="/contractorWorker/sendMessageDiplay/<%=mailCompany%>">Messages</a> </li>
            <li><a href="#">Log Out</a> </li>
        </ul>
    </nav>
    <div>
        <div class="input-box">
            <lable class="menu">Menu for performing contractor worker operations</lable>
        </div>
    </div>
    <div class="input-box">
        <lable>    </lable>
        <div class="button" >
            <input type="btn" value="Add contractor" onclick="addCon()"  href="/companyWorker/styleCompanyWorkerMenuEmployers" readonly>
        </div>
    </div>
    <div class="input-box">
        <lable>   </lable>
        <div class="button">
            <input type="btn" value="Delete contractor" target="_blank"  href="/companyWorker/styleCompanyWorkerMenuEmployers" readonly>
        </div>
    </div>

    <div class=box2>
        <div class="title">All Contractor
            <small class="pull-right"><%= fEmployment.length %></small>
        </div>
    </div>
    <div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        <table class="table table-striped custab" id="table">
        <%
        if(fEmployment.length!=0) {
            var i=1;
        fEmployment.forEach(function(worker){
        %>
        <tr class="line">
            <td><div class="input-box"><span class="input" ><%= worker.mail %></span></div></td>
            <td><div class="input-box" ><span class="input"><%= worker.phone %></span></div></td>
            <td><div class="input-box" ><a class="btn" href="/contractorWorker/contractorHomePage/<%=worker.mail%>">Actions</a></div></td>
        </tr>
        <% i++;}) %>
        <% } else{ %>
            <br>
            <br>
            <div class="h3"><h3>Sorry, No Future Employement ..</h3> </div>
            <br>
            <br>
        <% } %>
    </div>
    <br>
    <br>
    <br>
</div>
</body>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function addCon() {
        window.open("/contractorWorker/contractorSignUp", "_blank");
    }
    function  employerEditProfile(){
        console.log('fEmployment.length')

        var a=[];
        for(var i=0;i<fEmployment.length;i++)
        {
            a[i]=fEmployment.email
        }
        window.open("/contractorWorker/contractorProfile/${worker.email}", "_blank");

    }
</script>
</html>