<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employ Me Website</title>
    <link rel="stylesheet"  href="/css/styleCompanyWorkerHomePage.css">
</head>
<body>
<form id="homePageCompanyManager">
<div class="wrapper">
    <nav class="navbar">
        <a herf="/companyWorker/homePage/<%=mail%>" target = "_self"><img class="logo" src="/css/images/logo.PNG"></a>
        <ul>
            <li><a href="/companyWorker/editProfile/<%=mail%>" class="active">My Profile</a> </li>
            <li><a href="/companyWorker/allEmployer/<%=mail%>">Employers</a> </li>
            <li><a href="/companyWorker/allCompany/<%=mail%>">Contractor Workers</a> </li>
            <li><a href="/companyWorker/info/<%=mail%>">Statistics</a> </li>
            <li><a href="/contractorWorker/sendMessageDiplay/<%=mail%>">Messages</a> </li>
            <li><a href="#">Log Out</a> </li>
        </ul>
    </nav>
    <div class="center">
        <h1>Welcome To Employ Me</h1>
        <h2>Perform actions for </h2>
        <h2>employers and contractor employees</h2>

    </div>
</div></form>
</body>
</html>
