<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Us</title>
    <link rel="stylesheet" href="/css/styleContractorContactUs.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
    <script src="https://kit.fontawesome.com/10e7a38072.js" crossorigin="anonymous"></script>

</head>

<body>
    <div>
       
        <div class="row vh35">
            <!-- <%- include ('contractorNav.ejs')%>             -->
            <nav class="navbar" dir="ltr">
            
                <ul><a class="aa" href="/contractorWorker/contractorHomepage/<%=mail%>">
                    <img class="logo" src="/css/images/logo.PNG">
                </a>
                    <li><a href="/contractorWorker/contractorProfile/<%=mail%>"><i class="fa fa-pencil" aria-hidden="true"></i>Profile</a></li>
                    <li><a href="/contractorWorker/contractorWaitApproval/<%=mail%>"><i class="fa fa-check-circle" aria-hidden="true"></i>Shifts await approval</a></li>
                    <li><a href="/contractorWorker/contractorFuture/<%=mail%>"><i class="fas fa-clock"></i>Future shifts</a></li>
                    <li><a href="/contractorWorker/contractorHistory/<%=mail%>"><i class="fa fa-fw fa-history"></i>Shifts history</a></li>
                    <li><a href="/contractorWorker/contractorUnavailability/<%=mail%>"><i class="fas fa-plane"></i>Vacation report</a></li>
                    <li><a href="/contractorWorker/contractorPaycheckList/<%=mail%>"><i class="fa fa-usd" aria-hidden="true"></i>Pay checks</a></li>
                    <li><a href="/contractorWorker/contractorMessageList/<%=mail%>"><i class="fa fa-fw fa-envelope"></i>Messages</a></li>
                    <li><a href="/contractorWorker/jobRateDisplay/<%=mail%>"><i class="fa fa-fw fa-pie-chart"></i> My job rate</a></li>
                    <li><a href="/contractorWorker/contractorContactUs/<%=mail%>"><i class="fa fa-fw fa-phone"></i>Contact Us</a></li>                   
                    <li><a href="/"><i class="fa fa-fw fa-sign-out"></i>Log Out</a></li>
                </ul>        
            </nav>
        </div> 
    </div>
     <div class="container-fluid">
          
        <div class="row page-header r15">                    
            <div class="title"><h1><small class="pull-right"></small>Contact Us</h1></div>       
        </div>
        <div class="row r30">
            <div class="col-9">
                <p class="p1">Reliability. Quality. Services.</p>
                
                <span class="s11">Looking for a job?</span>
                <span class="s1">Looking for employees? </span><br>  
                <span class="s12">Employ-Me is the solution for everyone in one place!</span>
                <br>  
                <br>  
                <span class="s1">Employ-Me is a large company in the field of human resources, offering employers</span><br>                
                <span class="s1"> diverse and advanced options for finding and matching 100%  employees for</span><br> 
                <span class="s1">  each company by advanced and extensive searches.</span>
                <br>
                <br>
                <span class="s1">Employ-Me offers the employee employment services in a professional and  </span>  <br>              
                <span class="s1">quality service, so that as soon as you connect, the jobs begin to reach </span> <br>
                <span class="s1">the employee from all the various companies and employers that </span><br>
                <span class="s1">work with Employ-Me.</span>

                <br>
                <br>
            </div>  
            <div class="col-3"></div>
        </div>
        <div class="row r20">
            <div class="col-7">
                <span class="s1">The company manages the relationship between the employee</span><br>  
                <span class="s1"> and the employer so that the employee works with Hot from </span><br>  
                <span class="s1">the opening of the employment until its closing, including</span><br> 
                <span class="s1"> the payment.</span>
                <br>
                <br>
                <span class="s1">The company offers the employee the most  </span><br>  
                <span class="s1">advanced and convenient services for</span><br> 
                <span class="s1"> tracking all his employment, </span><br> 
                <span class="s1"> vacations and paychecks.</span>

            </div>
            <div class="col-5">
                    <h4 > <i class="fa fa-phone fa-2x text-yellow"></i>   Contact Us:</h4>                                           
                    <h4> Ashdod Branch, Zabotinsky 84:</h4>
                    <h4> Phone - 088665885 </h4>
                    <h4> Opening hours - Sunday-Thursday: 8:00 - 16:00,   </h4>
                    <h4> Friday: 8:00 - 13:00,</h4>
                    <h4> Closed on Saturdays and holidays. </h4>
                    
                </div>
            </div>
        </div>
        <br>  
        <br> 
    </div> 
</body>
</html>