<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Shifts await approval</title>
        <link rel="stylesheet" href="/css/styleContractorWaitShift.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
         <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <style>
        .text-center-e{
            display: true;
        }
    </style>
    <body>
        <div class="container">  
            <div class="row col-md-6 col-offset-2 custyle">
                <div class="page-header">
                    <div class="title"><h2><small class="pull-right"></small>Shifts await approval</h2></div>
                </div>
                <%
                if(result.length!=0) {
                    var i=1;
                    var d=new Date();
                result.forEach(function(employement){
                %>
                <div class="container "> 
                    <div class="user-details d">  
                        <div >
                            <label class="details">Date: </label>
                            <span ><%= employement.date.getDate() %>.<%= employement.date.getMonth()+1 %>.<%= employement.date.getFullYear() %></span>                        
                        </div>
                        <div >
                            <label class="details">Job Scope: </label>
                            <span ><%= employement.jobScope %>  hours</span>
                        </div>
                        <div >
                            <label class="details">Employer Email: </label>
                            <span ><%= employement.employerEmail %></span>                            
                        </div>
                        <div  >
                             <a class='btn'  href="/contractorWorker/approveShift/<%=employement._id%>" >APPROVE</a>
                             <a class='btn'  href="/contractorWorker/cancelShift/<%=employement._id%>" >CANCEL</a>
                        </div>
                    </div>
                </div> 
                <% i++;}) %>
                    <% } else{ %>
                        <div class="h3"><h3>No shifts found ..</h3> </div>
                    <% } %>
            </div>
        </div>
    </body>
    <script >
        
    </script>
</html>