<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>menu</title>
        <link rel="stylesheet" href="/css/styleContractorHomepage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
   
<body>
    <div class="wrapper"></div>
    
    <nav class="navbar">
        <a href="/">
            <img class="logo" src="/css/images/logo.PNG">
        </a>
        <ul>
            <li><a href="/contractorWorker/contractorProfile/<%=mail%>"><i class="fa fa-fw fa-home"></i>Profile</a></li>
            <li><a href="/contractorWorker/contractorFuture/<%=mail%>">Future shifts</a></li>
            <li><a href="/contractorWorker/contractorHistory/<%=mail%>"><i class="fa fa-fw fa-history"></i>Shifts history</a></li>
            <li><a href="/contractorWorker/contractorWaitApproval/<%=mail%>">Shifts await approval</a></li>
            <li><a href="/contractorWorker/contractorUnavailability/<%=mail%>">Vacation report</a></li>
            <li><a href="/contractorWorker/contractorPaycheckList/<%=mail%>">Pay checks</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">My job rate</a></li>
            <li><a href="#">Contact Us</a></li>                
            <li><a href="/"><i class="fa fa-fw fa-sign-out"></i>Log Out</a></li>
        </ul>        
    </nav>
    
</body>
</html>