<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Paycheck</title>
        <link rel="stylesheet" href="/css/styleContractorPayList.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
        <script src="https://kit.fontawesome.com/10e7a38072.js" crossorigin="anonymous"></script>  
    </head>
    <style>
        .text-center-e{
            display: true;
        }
    </style>
    <body>
        <%- include ('contractorNav.ejs')%>   

        <div class="container">  
            <div class="row col-md-6 col-offset-2 custyle">
                <div class="page-header">
                    <div class="title"><h2><small class="pull-right"></small>Paychecks</h2></div>
                </div>
                <%
                if(result.length!=0) {
                    var i=1;
                result.forEach(function(paycheck){
                %>
                <div class="container "> 
                   <div class="col-10">
                    <div  class="input-box4 row d"  >
                        <div class="col-4">                          
                          <label class="details">Month : <span class="details" ><%=paycheck.month %> / <%=paycheck.year %></s></label>
                            
                          <hr>
                          <label class="details">Net salary : <span class="details" ><%= paycheck.totalSalary %> NIS </span></label>

                            
                          <br/>        
                          <a class='btn'  href="/contractorWorker/contractorPayChecks/<%=paycheck.contractorMail%>/<%=paycheck.month%>" ><p class="p">SHOW</p></a>

                        </div >
                        <div >
                        </div>  </div>  
                    </div>
                </div> 
                <% i++;}) %>
                    <% } else{ %>
                        <div class="h3"><h3>No paychecks found ..</h3> </div>
                    <% } %>
            </div>
        </div>
    </body>
    <script >
        
    </script>
</html>