<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Future shifts</title>
        <link rel="stylesheet" href="/css/styleContractorFuture.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
        <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script> -->
        <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
        <script src="https://kit.fontawesome.com/10e7a38072.js" crossorigin="anonymous"></script>    
    </head>
    <style>
        .text-center-e{
            display: true;
        }
    </style>
    <body>
        <%- include ('contractorNav.ejs')%>   
        <div  >
            
            <div class="row col-md-6 col-md-offset-2 custyle">
                <div class="page-header">
                    <div class="title"><h2><small class="pull-right"></small> Future shifts </h2></div>
                </div>           
                <%
                if(result.length!=0) {
                    var i=1;
                    var d=new Date();
                result.forEach(function(employement){
                %>
                <div class="container" > 
                    <div class="user-details d">    
                        <div class="input-box">
                            <label class="details">Company Name: </label>
                            <span class="input" ><%= employement.companyName %></span>                            
                        </div>
                        <div class="input-box" >
                            <label class="details">Employer Email: </label>
                            <span class="input"><%= employement.employerEmail %></span>
                        </div>
                        <div class="input-box">
                            <label class="details">Date: </label>
                            <span class="input" ><%= employement.date.toDateString() %></span>                            
                        </div>
                        <div class="input-box">
                            <label class="details">Job Scope: </label>
                            <span class="input"><%= employement.jobScope %> hours</span>                            
                        </div>
                        <div class="input-box">
                            <label class="details">Hourly wage: </label>
                            <span class="input"><%= employement.hourlyWage %></span>                            
                        </div>
                        <div class="input-box">                 
                    </div>
                    <div class="input-box">    
                        <%if(employement.date.getDate()==d.getDate() && employement.start == "no")  {%>
                            <a class='btn1' id="start" href="/contractorWorker/startEmployement/<%=employement._id%>" >Enter </a>
                        <%}%> 
                        <%if(employement.date.getDate()==d.getDate() && employement.start == "yes")  {%>
                            <a class='btn1' id="end"  href="/contractorWorker/endEmployement/<%=employement._id%>" > Exit </a>
                        </div>
                        <%}%>                    
                    
                    </div>
                </div> 
                
                    
                <% i++;}) %>
                    <% } else{ %>
                        <div class="h3"><h3>No shifts found ..</h3> </div>
                    <% } %>
            
            </div>
        </div>
    </body>
    <script >
        
    </script>
</html>