<nav class="navbar" dir="ltr">
            
    <ul><a class="aa" href="/contractorWorker/contractorHomepage/<%=mail%>">
        <img class="logo" src="/css/images/logo.PNG">
    </a>
        <li><a href="/contractorWorker/contractorProfile/<%=mail%>"><i class="fa fa-pencil" aria-hidden="true"></i>Profile</a></li>
        <li><a href="/contractorWorker/contractorWaitApproval/<%=mail%>"><i class="fa fa-check-circle" aria-hidden="true"></i>Shifts await approval</a></li>
        <li><a href="/contractorWorker/contractorFuture/<%=mail%>"><i class="fas fa-clock"></i>Future shifts</a></li>
        <li><a href="/contractorWorker/contractorHistory/<%=mail%>"><i class="fa fa-fw fa-history"></i>Shifts history</a></li>
        <li><a href="/contractorWorker/contractorUnavailability/<%=mail%>"><i class="fas fa-plane"></i>Vacation report</a></li>
        <li><a href="/contractorWorker/contractorPaycheckList/<%=mail%>"><i class="fa fa-usd" aria-hidden="true"></i>Pay checks</a></li>
        <li><a href="/contractorWorker/contractorMessageList/<%=mail%>"><i class="fa fa-fw fa-envelope"></i>Messages</a></li>
        <li><a href="/contractorWorker/jobRateDisplay/<%=mail%>"><i class="fa fa-fw fa-pie-chart"></i> My job rate</a></li>
        <li><a href="/contractorWorker/contractorContactUs/<%=mail%>"><i class="fa fa-fw fa-phone"></i>Contact Us</a></li>                   
        <li><a href="/"><i class="fa fa-fw fa-sign-out"></i>Log Out</a></li>
    </ul>        
</nav>