<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/stylecontractorJobRate.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
        <script src="https://kit.fontawesome.com/10e7a38072.js" crossorigin="anonymous"></script>
        <title>Job Rate</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row page-header r20">                    
                <div class="title"><h1><small class="pull-right"></small>My Job Rate</h1></div>                    
            </div>
            <div class="row r80">
                <div class="col-7">
                    <div class="row r20">
                        <div class="card">
                            <i class="fa fa-pie-chart fa-2x text-yellow"></i>
                            <br>
                            <div class="card__inner">
                                <p class="text-primary-p">Global Ratings Average -</p>
                            </div>
                            <%if(ratGlobal == 0){%>
                                <span class="font-bold text-title"> No ratings yet </span>
                            <%}if(ratGlobal == 1){%>                            
                                <%- include ('contractorStars/star1.ejs')%>
                            <%}if(ratGlobal == 2){%>                            
                                <%- include ('contractorStars/star2.ejs')%>
                            <%}if(ratGlobal == 3){%>                            
                                <%- include ('contractorStars/star3.ejs')%>
                            <%}if(ratGlobal == 4){%>                            
                                <%- include ('contractorStars/star4.ejs')%>
                            <%}if(ratGlobal == 5){%>                            
                                <%- include ('contractorStars/star5.ejs')%>        
                        </div>
                    </div>
                    <div class="row r10 title2">Average ratings per month</div> 
                    <div class="row r70">   
                        <div class="row r">                              
                            <div class="col">
                                <div class="card2">
                                    <i class="fa fa-calendar fa-2x text-blue"></i>
                                    <div class="card__inner">
                                        <p class="text-primary-p">January 2021 -  </p>
                                    </div>
                                    <div class="star1">
                                        <i class="fa fa-star fa-2x text-gray"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card2">
                                    <i class="fa fa-calendar fa-2x text-blue"></i>
                                    <div class="card__inner">
                                        <p class="text-primary-p">January 2021 -  </p>
                                    </div>
                                    <div class="star2">
                                        <i class="fa fa-star fa-2x text-gray"></i>
                                        <i class="fa fa-star fa-2x text-gray"></i>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col">
                                <div class="card2">
                                    <i class="fa fa-calendar fa-2x text-blue"></i>
                                    <div class="card__inner">
                                        <p class="text-primary-p">January 2021 -  </p>
                                    </div>
                                    <div class="star3">
                                        <i class="fa fa-star fa-2x text-blue"></i>
                                        <i class="fa fa-star fa-2x text-blue"></i>
                                        <i class="fa fa-star fa-2x text-blue"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card2">
                                    <i class="fa fa-calendar fa-2x text-blue"></i>
                                    <div class="card__inner">
                                        <p class="text-primary-p">January 2021 -  </p>
                                    </div>
                                    <div class="star4">
                                        <i class="fa fa-star fa-2x text-yellow"></i>
                                        <i class="fa fa-star fa-2x text-yellow"></i>
                                        <i class="fa fa-star fa-2x text-yellow"></i>
                                        <i class="fa fa-star fa-2x text-yellow"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-5">
                    <div class="row r10 title2">Feedback Per Shift</div> 
                    <div class="row">
                        <div class="card3">
                            <i class="fa fa-calendar fa-2x text-blue"></i>
                            <div class="card__inner">
                                <span class="font-bold text-title">20 / 5 / 2021</span>
                                <p class="text-primary-p">Works great, professional and dedicated </p>                                    
                            </div>
                            <div class="star4">
                                <i class="fa fa-star fa-2x text-blue"></i>
                                <i class="fa fa-star fa-2x text-blue"></i>
                                <i class="fa fa-star fa-2x text-blue"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card3">
                            <i class="fa fa-calendar fa-2x text-blue"></i>
                            <div class="card__inner">
                                <p class="text-primary-p">January 2021 -  </p>
                            </div>
                            <div class="star4">
                                <i class="fa fa-star fa-2x text-yellow"></i>
                                <i class="fa fa-star fa-2x text-yellow"></i>
                                <i class="fa fa-star fa-2x text-yellow"></i>
                                <i class="fa fa-star fa-2x text-yellow"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </body>

</html>
  
