<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Future shifts</title>
        <link rel="stylesheet" href="/css/styleContractorFuture.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
         <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <style>
        .text-center-e{
            display: true;
        }
    </style>
    <body>
        <div class="container">
            <div class="row col-md-6 col-md-offset-2 custyle">
                <div class="page-header">
                    <div class="title"><h2><small class="pull-right"></small> Future shifts </h2></div>
                </div>
           
                <%
                if(result.length!=0) {
                    var i=1;
                    var d=new Date();
                result.forEach(function(employement){
                %>
                <div class="container "> 
                    <div class="user-details d">    
                        <div class="input-box">
                            <label class="details">Company Name: </label>
                            <span class="input" ><%= employement.companyName %></span>
                            
                        </div>
                        <div class="input-box" >
                            <label class="details">Employer Email: </label>
                            <span class="input"><%= employement.employerEmail %></span>
                        </div>
                        <div class="input-box">
                            <label class="details">Date: </label>
                            <span class="input" ><%= employement.date.toDateString() %></span>                            
                        </div>
                        <div class="input-box">
                            <label class="details">Job Scope: </label>
                            <span class="input"><%= employement.jobScope %> hours</span>                            
                        </div>
                        <div class="input-box">
                            <label class="details">Hourly wage: </label>
                            <span class="input"><%= employement.hourlyWage %></span>                            
                        </div>
                        <div class="input-box">                 
                    </div>
                    <div class="input-box">    
                        <%if(employement.date.getDate()==d.getDate() && employement.start == "no")  {%>
                            <a class='btn1' id="start" href="/contractorWorker/startEmployement/<%=employement._id%>" >Enter </a>
                        <%}%> 
                        <%if(employement.date.getDate()==d.getDate() && employement.start == "yes")  {%>
                            <a class='btn1' id="end"  href="/contractorWorker/endEmployement/<%=employement._id%>" > Exit </a>
                        </div>
                        <%}%>                     
                    
                    </div>
                </div> 
                  
                    
                <% i++;}) %>
                    <% } else{ %>
                        <div class="h3"><h3>No shifts found ..</h3> </div>
                    <% } %>
            
            </div>
        </div>
    </body>
    <script >
        
    </script>
</html>