<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Contractor-Profile</title>
        <link rel="stylesheet" href="/css/styleContractorProfile.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <!-- <form class="homeLogo" action='/contractorWorker/contractorHomepage/<%=contractor.mail%>'  method="GET" >
            <button type="submit" style="font-size:24px"><img class="logo" type="submit" src="/css/images/logo.PNG"></button>            
        </form> -->
        <div class="container">
            <div class="title">Edit Your Profile</div>
            <br />
            <form class="model-content animate " id="form-pass" action='/contractorWorker/updateContractorPass/<%=contractor.mail%>'  method="POST" >
                <div class="row">
                <div class="col-1"><span class="details">Password:</span></div>
                <div class="col-2"><lable type="text" class="input" readonly  id="passwordNew" ><%=contractor.password%></label></div>
                <button type="button" class="btn btn-outline-info"  data-toggle="modal" data-target="#exampleModal">
                   Reset Password
                </button>
                </div>                                     
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content user-details">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="input-box" data-error="Error message">
                            <span class="details">please enter new pass:</span>
                            <input type="text" class="input" id="password" form="form-pass" name="password" >
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <input  class="btn btn-primary" value="Save password" form="form-pass" onclick="resetPassword()" >
                        </div>
                      </div>
                    </div>
                </div>                                    
            </form>
            <hr>
            <form class="model-content animate" id="form" action='/contractorWorker/contractorProfile/<%=contractor.mail%>'  method="POST" >            
                <div>
                <div class="user-details row-12" >
                    <div class="col-5">
                    <div class="input-box" data-error="Error message">
                        <span class="details">First Name</span>
                        <input type="text" class="input" id="firstName" name="firstName" form="form"  value=<%=contractor.firstName%>>
                        
                    </div>
                    <div class="input-box" data-error="Error message">
                        <br>
                        <span class="details">Last Name</span>
                        <input type="text" class="input" id="lastName" name="lastName" form="form"  value=<%=contractor.lastName%>>
                    </div>
                    <div class="input-box" data-error="Error message">
                        <br>
                        <span class="details">Phone</span>
                        <input type="phone" class="input" id="phone" name="phone" form="form"  value=<%=contractor.phone%>>
                    </div>
                </div>
                
                <div class="col-7">
                        <br>
                        <br>
                    <div class="input-box row" >
                        <br>   
                        <br>            
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg>
                        <span class="details col-4">Birthday:      </span>
                        <label type="text" class="input col-6" id="birthday" name="birthday" form="form" readonly ><%=date%></label>                       
                    </div>
                        <br>
                    <div class="input-box row" data-error="Error message">                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope " viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                          </svg>
                        <span class="details col-4">Email:    </span>
                        <label type="email" class="input col-6" id="mail" name="mail" form="form" readonly  ><%=contractor.mail%></label>
                    </div>
                        <br>
                        <br>
                    <div class="input-box row">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                          </svg>
                        <span class="details col-6">Hourly wage:</span>
                        <label type="text" class="input col-4" id="hourlyWage" name="hourlyWage" readonly  ><%=contractor.hourlyWage%></label>
                    </div>
                </div>
                <div class="col-4"></div>
                </div>
                <hr> 
                <div class="col my-2 d-flex justify-content-between align-items-end p-0">
                <div class="user-details row-12">  
                   <div class="col-2">
                    <label>Occupation Area</label>
                    <select class="select" id="occupationArea" name="occupationArea" form="form" >
                        <option ><%=contractor.occupationArea%></option>
                        <option >Insurance</option>
                        <option >High-tech</option>
                        <option >Technical</option>
                        <option >Finance</option>
                        <option >Human resources</option>
                        <option >Offices</option>
                        <option >Marketing</option>
                        <option >Sales</option>
                        <option >Digital</option>
                        <option >Operations and logistics</option>
                        <option >Biotech</option>
                        <option >Waitresses</option>
                        <option >Cleaning</option>
                        <option >Production workers</option>
                        <option >Customer service</option>
                        <option >Renovations</option>
                        <option >Other</option>
                    </select>
                </div>
                    <div class="col-2">
                    <label>Experience Field</label>
                    <select class="select" id="experienceField" name="experienceField" form="form" placeholder="<%=contractor.experienceField%>" selected=<%=contractor.experienceField%>>
                        <option ><%=contractor.experienceField%></option>
                        <option >1-5 years</option>
                        <option >5-10 years</option>
                        <option >10-15 years</option>
                        <option >Over 15 years</option>
                    </select>
                </div>
                    <div class="col-2">
                    <label>Service Area</label>
                    <select class="select" class="input" id="serviceArea" name="serviceArea" form="form" value=<%=contractor.serviceArea%>>
                        <option ><%=contractor.serviceArea%></option>
                        <option >North</option>
                        <option >South</option>
                        <option>Lowlands</option>
                        <option >Jerusalem Area</option>
                        <option >Dan Area</option>
                        <option >Galilee</option> 
                    </select>
                </div>
                    <div class="col-2">
                    <label>Scope Work</label>
                    <select class="select" id="scopeWork" name="scopeWork" form="form" value=<%=contractor.scopeWork%>>
                        <option ><%=contractor.scopeWork%></option>
                        <option >3-6</option>
                        <option >6-8</option>
                        <option >8-10</option>
                        <option >10-12</option>
                    </select>
                </div>
                </div> 
                </div>
                <div class="button">
                    <input  value="Save" form="form" onclick="checkInputs()"  readonly>
                </div>
            </div>          
        </form>    
        </div>
    </body>
    <script>
        const form1=document.getElementById("form1");
        const form=document.getElementById("form");
        const firstName=document.getElementById("firstName");
        const lastName=document.getElementById("lastName");
        const phone=document.getElementById("phone");
        const mail=document.getElementById("mail");       
        const password=document.getElementById("password");  
           
        const occupationArea=document.getElementById("occupationArea").value;  
  
        document.querySelectorAll('.input-box[data-error] .input').forEach(inpEl=>{
            inpEl.addEventListener('input',()=>inpEl.parentElement.removeAttribute('data-error'));
        });

        firstName.parentElement.removeAttribute('data-error');
        lastName.parentElement.removeAttribute('data-error');
        phone.parentElement.removeAttribute('data-error');
        mail.parentElement.removeAttribute('data-error');
        password.parentElement.removeAttribute('data-error');

        function checkInputs(){
            const firstNameValue=firstName.value.trim();
            const lastNameValue=lastName.value.trim();
            const phoneValue=phone.value.trim();
            const mailValue=mail.value.trim();
         
            var flag=0;
            if(firstNameValue==""){
                firstName.parentElement.setAttribute('data-error','First name can not be empty');
                flag=1;
            }
            if(firstNameValue.length<3 ){
                firstName.parentElement.setAttribute('data-error','First name must contain less 3 character');
                flag=1;
            }
            if(firstNameValue.length>50 ){
                firstName.parentElement.setAttribute('data-error','First name must contain no more  50 character');
                flag=1;
            }
            if(!/^[a-zA-Z]+$/.test(firstNameValue)){
                firstName.parentElement.setAttribute('data-error','First name must contain only character');
            }
            if(lastNameValue==""){
                lastName.parentElement.setAttribute('data-error','Last name can not be empty');
                flag=1;
            }
            if(lastNameValue.length<3){
                lastName.parentElement.setAttribute('data-error','Last name must contain less 3 character');
                flag=1;
            }
            if(lastNameValue.length>50){
                lastName.parentElement.setAttribute('data-error','Last name must contain no more  50 character');
                flag=1;
            }
            if(phoneValue.length!=10){
                phone.parentElement.setAttribute('data-error','Phone must contain 10 digits');
                flag=1;
            } 
            if(!mailValue.includes('@')){
                mail.parentElement.setAttribute('data-error','mail must be example@example.com');
                flag=1;
            }   
            if(flag==0){
                document.getElementById("form").submit();
            }
              
        }
        function resetPassword() {  
            const passValue=password.value.trim();
            var flag=0;      
            if(passValue.length<6 || passValue==""){
                password.parentElement.setAttribute('data-error','Password must contain less 6 character');
                flag=1;
            }       
            else{
                if(flag==0){
                    document.getElementById("form-pass").submit();
                }
            }
        }
    </script>
    <script type="text/javascript"src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
     <script type="text/javascript">
        (function(){
             emailjs.init("service_m3luncq");
        })();
    </script>
</html>  

