<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Contractor Home Page</title>
        <link rel="stylesheet" href="/css/styleContractorHomepage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
   
<body>
    <div class="wrapper"></div>
    
 
    <div class="container-fluid">
        <div class="row vh35">
            <%- include ('contractorNav.ejs')%>            
        </div> 

        <div class="row vh20"> 

           <div class="container "> 
            
                <%
                if(result.length!=0) {
                    var i=1;
                    var d=new Date();
                result.forEach(function(today){
                %>
                <%if(today.date.getDate()==d.getDate() && today.date.getMonth()==d.getMonth() && today.date.getFullYear()==d.getFullYear() )  {%>
                
                 <div class="title">Shift for today</div>
                     <div class="user-details d">  
                    <div class="input-box">
                        <label class="details">Company Name: </label>
                        <span class="input" ><%= today.companyName %></span>
                        
                    </div>
                    <div class="input-box" >
                        <label class="details">Employer Email: </label>
                        <span class="input"><%= today.employerEmail %></span>
                    </div>
                    <div class="input-box">
                        <label class="details">Date: </label>
                        <span class="input" ><%= today.date.toDateString() %></span>                            
                    </div>
                    <div class="input-box">
                        <label class="details">Job Scope: </label>
                        <span class="input"><%= today.jobScope %> hours</span>                            
                    </div>
                    <div class="input-box">
                        <label class="details">Hourly wage: </label>
                        <span class="input"><%= today.hourlyWage %></span>                            
                    </div>
                    <div class="input-box">                 
                    </div>
                        <%if(today.start == "no")  {%>
                            <a class='btn' href='/contractorWorker/startEmployement/<%=today._id%>'><span class="glyphicon glyphicon-edit"></span> Start </a> 
                        <%}%> 
                        <%if(today.start == "yes")  {%>
                            <a class='btn' href='/contractorWorker/endEmployement/<%=today._id%>'><span class="glyphicon glyphicon-edit"></span> End </a> 
                        <%}%>
                    
                </div> 
                <%}%>                
                <% i++;}) %>
                    <% } else{ %>
                        <div class="user-details d"> 
                            <div class="h3"><h3>You have no shift for today ...</h3> </div>
                        </div>
                    <% } %> 
            </div>
            <!-- <div class="row vh20">
                <h1 class="p">Welcome, Let's Start !</h1>        
            </div> -->
        </div>
        <div class="row ">
            <h1 class="p">Hello <%=name%></h1>        
        </div>
        
        <div class="row vh45">            
            <h1>Keep track of your shifts, vacations, and pay slips.</h1>
            <h2>We're here for help !</h2>    
        </div>
        
    </div>
    
</body>
</html>