<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Search-Employer</title>
        <link rel="stylesheet" href="/css/styleEmployerSearch.css">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    </head>
    <body>
        <!-- <div class="navbar">
            <img class="logo" src="/css/images/logo.PNG">
            <a href="#"><i class="fa fa-fw fa-sign-out"></i> Log Out</a>
            <a href="#"><i class="fa fa-fw fa-heart"></i> Favorites</a>
            <a href="#"><i class="fa fa-fw fa-history"></i> History</a>
            <a href="#"><i class="fa fa-fw fa-hourglass-half"></i> Confirm Employments</a>
            <a href="#"><i class="fa fa-fw fa-pie-chart"></i> Info & Statistics</a> 
            <a href="search"><i class="fa fa-fw fa-search"></i> Search</a> 
            <a class="active" href="editProfile"><i class="fa fa-fw fa-home"></i> My Profile</a> 
          </div> -->
            <nav class="navbar">
                <a href="/employer/homePage/<%=email%>">
                    <img class="logo" src="/css/images/logo.PNG">
                </a>
                <ul>
                    <li><a class="active" href="/employer/editProfile/<%=email%>">My Profile</a> </li>
                    <li><a href="/employer/search/<%=email%>">Search</a> </li>
                    <li><a href="#">Info & Statistics</a> </li>
                    <li><a href="/employer/confirmEmployments/<%=email%>">Confirm Employments</a> </li>
                    <li><a href="/employer/employerHistory/<%=email%>">History</a> </li>
                    <li><a href="#">Favorites</a> </li>
                    <li><a href="#">Log Out</a> </li>
                </ul>
            </nav>
            <div class="container">
                <div class="headline">Search contractors</div>
                <form class=search action="/employer/searchContractorByFields/<%=email%>" method="POST">
                    <div class="clr"></div>
                    <div class=date data-error="Error message">
                        <lable class="title">Select Employment Date*</lable>
                        <br>
                        <input type="date" class="input" name="employmentDate" id="employmentDate" min="2000-01-01" max="2100-01-01" required >
                    </div>
                    <br>
                    <div class=occupation>
                        <lable>Select Occupation Area*</lable>
                        <br>
                        <select name="occupation" required> 
                            <option value="Biotech">Biotech</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Customer service">Customer service</option>
                            <option value="Digital">Digital</option>
                            <option value="Finance">Finance</option>
                            <option value="High-tech">High-tech</option>
                            <option value="Human resources">Human resources</option>
                            <option value="Insurance">Insurance</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Offices">Offices</option>
                            <option value="Operations and logistics">Operations and logistics</option>
                            <option value="Production workers">Production workers</option>
                            <option value="Renovations">Renovations</option>
                            <option value="Sales">Sales</option>
                            <option value="Technical">Technical</option>
                            <option value="Waitresses">Waitresses</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <br>
                    <div class="serviceArea">
                        <lable>Select Service Area</lable>
                        <br>
                        <select name="service">
                            <option value="select">Select </option>
                            <option value="North">North</option>
                            <option value="South">South</option>
                            <option value="Lowlands">Lowlands</option>
                            <option value="Jerusalem Area">Jerusalem Area</option>
                            <option value="Dan Area">Dan Area</option>
                            <option value="Galilee">Galilee</option>    
                        </select>
                    </div>
                    <br> 
                    <div class="jobScope">
                        <lable>Select Hour Job Scope</lable>
                        <br>
                        <select name="scope">
                            <option value="select">Select </option>
                            <option value="3-6">3-6</option>
                            <option value="6-8">6-8</option>
                            <option value="8-10">8-10</option>
                            <option value="10-12">10-12</option>   
                        </select>
                    </div>
                    <div class="experienceYears">
                        <lable>Select Years Of Experience</lable>
                        <br>
                        <select name="experience">
                            <option value="select">Select </option>
                            <option value="1-5 years">1-5 years</option>
                            <option value="5-10 years">5-10 years</option>
                            <option value="10-15 years">10-15 years</option>
                            <option value="Over 15 years">Over 15 years</option>   
                        </select>
                    </div>
                    <div class="button">
                        <input type="submit" value="Search Contractors">
                    </div>
                    <br>
                </form>
            </div>
    </body>
</html>



<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Employer-Search</title>
        <link rel="stylesheet" href="/css/styleEmployerSignUp1.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar">
            <img class="logo" src="/css/images/logo.PNG">
            <ul>
                <li><a class="active" href="#">My Profile</a> </li>
                <li><a href="#">Search</a> </li>
                <li><a href="#">Info & Statistics</a> </li>
                <li><a href="#">Confirm Employments</a> </li>
                <li><a href="#">History</a> </li>
                <li><a href="#">Favorites</a> </li>
                <li><a href="#">Log Out</a> </li>
            </ul>
        </nav>>
        <div class="container">
            <div class="title">Search Contractors</div>
            <form class="search" action="/employer/addEmployer" method="POST">
                <div class="search-details">
                    <div class=date>
                        <lable>Select Employment Date*</lable>
                        <input type="date" name="Employment Date">
                    </div>
                    <div class=searchFields>
                        <lable>Select Occupation Area*</lable>
                        <select name="Occupation">
                            <option value="biotechnology">Biotechnology</option>
                            <option value="cleaning">Cleaning</option>
                            <option value="customer service">Customer Service</option>
                            <option value="digital">Digital</option>
                            <option value="financial">Financial</option>
                            <option value="high tech">High Tech</option>
                            <option value="human resources">Human Resources</option>
                            <option value="insurance">Insurance</option>
                            <option value="marketing">Marketing</option>
                            <option value="offices">Offices</option>
                            <option value="operation and logistics">Operation and Logistics</option>
                            <option value="production workers">Prodection Workers</option>
                            <option value="renovations">Renovations</option>
                            <option value="sales">Sales</option>
                            <option value="technical">Technical</option>
                            <option value="waitresses">Waitresses</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="searchFields">
                        <lable>Select Service Area</lable>
                        <select name="service">
                            <option value="north">North</option>
                            <option value="south">South</option>
                            <option value="jerusalen area">Jerusalem Area</option>
                            <option value="dan area">Dan Area</option>
                            <option value="galilee">Galilee</option>    
                        </select>
                    </div>
                    <div class="searchFields">
                        <lable>Select Hour Job Scope</lable>
                        <select name="scope">
                            <option value="threeToSix">3-6</option>
                            <option value="sixToEight">6-8</option>
                            <option value="eightToTen">8-10</option>
                            <option value="tenToTwelve">10-12</option>   
                        </select>
                    </div>
                    <div class="searchFields">
                        <lable>Select Years Of Experience</lable>
                        <select name="experience">
                            <option value="oneToFive">1-5 Years</option>
                            <option value="fiveToTen">5-10 Years</option>
                            <option value="tenToFifteen">10-15 Years</option>
                            <option value="overFifteen">Over 15 Years</option>   
                        </select>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Search Contractors">
                </div> 
            </form>
        </div>
    </body>  
</html>
 -->

