<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/styleTerminationOfEmployment.css">
  <title>Star rating using pure CSS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/10e7a38072.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar">
    <a href="/employer/homePage/<%=employement.employerEmail%>">
        <img class="logo" src="/css/images/logo.PNG">
    </a>
    <ul>
        <li><a href="/employer/editProfile/<%=employement.employerEmail%>"><i class="fa fa-fw fa-home"></i>My Profile</a> </li>
        <li><a href="/employer/search/<%=employement.employerEmail%>"><i class="fa fa-fw fa-search"></i>Search</a> </li>
        <li><a href="/employer/info/<%=employement.employerEmail%>"><i class="fa fa-fw fa-pie-chart"></i>Info & Statistics</a> </li>
        <li><a  href="/employer/futureEmployement/<%=employement.employerEmail%>"><i class="fas fa-clock"></i>Future Employement</a> </li>
        <li><a  href="/employer/confirmEmployments/<%=employement.employerEmail%>"><i class="fa fa-fw fa-hourglass-half"></i>Confirm Employments</a> </li>
        <li><a href="/employer/employerHistory/<%=employement.employerEmail%>"><i class="fa fa-fw fa-history"></i>History</a> </li>
        <li><a href="/"><i class="fa fa-fw fa-sign-out"></i>Log Out</a> </li>
    </ul>
</nav>
  <div class="container">
    <div class="title">Employment Contract</div>
    <form class="model-content animate" id="form" action='/employer/terminationOfEmployment/<%=employement._id%>' method="POST" >
        <br/>
        <span class="title2">Contractor Details</span>
        <div class="user-details">
          <div class="input-box" >
            <span class="details">First Name</span>
            <p><%=contractor.firstName%><p>
          </div>
          <div class="input-box"  >
            <span class="details">Last Name</span>
            <p><%=contractor.lastName%></p>
          </div>
          <div class="input-box"  >
            <span class="details">Email Address</span>
            <p><%=contractor.mail%></p>
          </div>
          <div class="input-box"  >
            <span class="details">Occupation Area</span>
            <p><%=contractor.occupationArea%></p>
          </div>
          <div class="input-box">
            <span class="details">Phone</span>
            <p><%=contractor.phone%></p>
          </div>
        </div>
        <br/>
        <span class="title2">Employement Details</span>
          <div class="user-details">
            <div  >
              <span class="details">Date Of Occupation</span>
              <p><%=employement.date.toDateString()%></p>
            </div>
            <div >
              <span class="details">Number of business hours</span>
              <p><%=employement.jobScope%></p>
            </div>
            <div >
                <span class="details">Hourly Wage</span>
                <p><%=contractor.hourlyWage%></p>
            </div>
        
    </div>
    </br>
    <span class="title2">Opinion On The Emploement</span>
    <textarea rows = "5" cols = "60" name = "description">
   </textarea>
   <br>
  <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
  <br/>
  <div class="button">
    <input  value="Termination of Employment" onclick="endEmployement()" id="button" readonly>
</div> 
<input type="hidden" name="employerEmail" id="employerEmail" value="<%=employement.employerEmail%>">
<input type="hidden" name="myRate" id="myRate" value="0" >
</form>
</body>
<script> 
  const form=document.getElementById("form");
  const myRate=document.getElementById("myRate");
  function endEmployement(){
    if(document.getElementById('star1').checked==true){
      myRate.value="1"
    }
    if(document.getElementById('star2').checked==true){
      myRate.value="2"
    }
    if(document.getElementById('star3').checked==true){
      myRate.value="3"
    }
    if(document.getElementById('star4').checked==true){
      myRate.value="4"
    }
    if(document.getElementById('star5').checked==true){
      myRate.value="5"
    }
    document.getElementById("form").submit();
  }
</script>
</html>